Repository amanz55/streetfeast-scout, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @django/backend, @nextjs/web

.github/labeler.yml:

repo:
  - "*"

"@django/backend":
  - "backend/**/*"

"@nextjs/web":
  - "frontend/**/*"

feat: completed all CRUD and proximity calculations
  backend/.vscode/settings.json
  backend/api/__pycache__/views.cpython-311.pyc
  backend/api/views.py
  backend/requirements.txt
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
  backend/streetfeast/settings.py
Labels: @django/backend

feat: Map leaflet integration finished
  frontend/.gitignore
  frontend/.vscode/settings.json
  frontend/api.js
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/Map.jsx
  frontend/components/MapContainerLeaflet.jsx
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/game-icons--food-truck.png
  frontend/public/assets/index.js
  frontend/tailwind.config.ts
Labels: @nextjs/web

feat: added a test workflow
  .github/workflows/test.yml
  backend/build_files.sh
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
  backend/streetfeast/__pycache__/urls.cpython-311.pyc
  backend/streetfeast/__pycache__/wsgi.cpython-311.pyc
  backend/streetfeast/settings.py
  backend/streetfeast/urls.py
  backend/streetfeast/wsgi.py
  backend/vercel.json
Labels: @django/backend

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

feat: Added example env
  backend/.env.example
  backend/pytest.ini
  backend/requirements.txt
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
  backend/streetfeast/settings.py
  backend/tests/__init__.py
  backend/tests/test_models.py
  backend/tests/test_urls.py
  backend/tests/test_views.py
Labels: @django/backend

fix: added example env file for the frontend
  frontend/.env.example
Labels: @nextjs/web

feat: Added deployment on render.com
  backend/streetfeast/settings.py
Labels: @django/backend

fix: Changed default port for render.com
  backend/manage.py
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
  backend/streetfeast/settings.py
Labels: @django/backend

feat: vercel deployment
  backend/streetfeast/settings.py
  backend/vercel.json
Labels: @django/backend

feat: railway deployment
  backend/.gitignore
  backend/procfile
  backend/vercel.json
Labels: @django/backend

feat: fixing railway deployment
  backend/streetfeast/settings.py
Labels: @django/backend

fix:added whitenoise
  backend/requirements.txt
Labels: @django/backend

feat: added static folder
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
Labels: @django/backend

feat: configured railway static files
  backend/streetfeast/__pycache__/settings.cpython-311.pyc
  backend/streetfeast/settings.py
Labels: @django/backend

feat: configured railway static files port
  backend/streetfeast/settings.py
Labels: @django/backend

fix: removed default port
  backend/manage.py
Labels: @django/backend

feat: corrected the allowed hosts
  backend/procfile
  backend/requirements.txt
  backend/streetfeast/settings.py
Labels: @django/backend

Update README.md
  README.md
Labels: repo
